USE [master]
GO
/****** Object:  Database [MOVIES_W3]    Script Date: 16-03-2022 03:12:08 PM ******/
CREATE DATABASE [MOVIES_W3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOVIES_W3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIES_W3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOVIES_W3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIES_W3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOVIES_W3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOVIES_W3]
GO
/****** Object:  Table [dbo].[actor]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actor](
	[act_id] [int] NOT NULL,
	[act_fname] [varchar](20) NULL,
	[act_lname] [varchar](20) NULL,
	[act_gender] [varchar](1) NULL,
 CONSTRAINT [PK_actor] PRIMARY KEY CLUSTERED 
(
	[act_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[director]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[director](
	[dir_id] [int] NOT NULL,
	[dir_fname] [varchar](20) NULL,
	[dir_lname] [varchar](20) NULL,
 CONSTRAINT [PK_director] PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[gen_id] [int] NOT NULL,
	[gen_title] [varchar](20) NULL,
 CONSTRAINT [PK_genres] PRIMARY KEY CLUSTERED 
(
	[gen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[mov_id] [int] NOT NULL,
	[mov_title] [varchar](50) NULL,
	[mov_year] [int] NULL,
	[mov_time] [int] NULL,
	[mov_lang] [varchar](50) NULL,
	[mov_dt_rel] [datetime] NULL,
	[mov_rel_country] [varchar](5) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_cast]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_cast](
	[act_id] [int] NULL,
	[mov_id] [int] NULL,
	[role] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_direction]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_direction](
	[dir_id] [int] NULL,
	[mov_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_genres]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genres](
	[gen_id] [int] NULL,
	[mov_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[mov_id] [int] NULL,
	[rev_id] [int] NULL,
	[rev_stars] [float] NULL,
	[num_o_ratings] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviewer]    Script Date: 16-03-2022 03:12:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewer](
	[rev_id] [int] NOT NULL,
	[rev_name] [varchar](20) NULL,
 CONSTRAINT [PK_reviwer] PRIMARY KEY CLUSTERED 
(
	[rev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([act_id])
REFERENCES [dbo].[actor] ([act_id])
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([dir_id])
REFERENCES [dbo].[director] ([dir_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([gen_id])
REFERENCES [dbo].[genres] ([gen_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_movie] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_movie]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_reviewer] FOREIGN KEY([rev_id])
REFERENCES [dbo].[reviewer] ([rev_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_reviewer]
GO
USE [master]
GO
